<div class="container" style="margin-top: 2rem;">
    <form [formGroup]="studentForm" (ngSubmit)="submitStudentID()">
        <div class="row">
            <div class="col-lg-6">
                <label for="">Enter Student ID:</label>
                <input [ngClass]="{
                    'has-error':studentForm.controls.id.touched && studentForm.controls.id.invalid,
                    'has-success' : studentForm.controls.id.touched && studentForm.controls.id.valid
                }" type="number" formControlName="id" class="form-control">
                <span style="color:red;"
                *ngIf="studentForm.controls.id.touched && studentForm.controls.id.invalid">Please Enter ID</span>
            </div>
        </div>
        
        <div class="row mt-3">
            <div class="col-lg-12">
                <input type="submit" class="btn btn-primary btn-sm">
            </div>
        </div>
    </form>
</div>